html, body {
  margin: 0;
}

body {
  background-color: #1b1919;
  color: gray;
}

.center {
  text-align: center
}

.title {
  font-size: 4.5rem;
}

.player {
  color: #6effbf;
}

.score {
  color: green;
  font-weight: 800;
  font-size: 1.25rem;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

#dice {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10px;
  color: red;
}
